<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/highcharts/highcharts.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/analitycs.js"></script>
        <script src="scripts/services/dataservice.js"></script>
        <!-- endbuild -->
    <script src="scripts/services/dataservice.js"></script>
    <!-- endbuild -->
  </head>
  <body ng-app="rock3rlabsApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container-nav">
          <div class="navbar-header">
            <a class="navbar-brand" ng-click="showMenu()"><img src="images/logo.png"/></a>
          </div>

          <div class="navbar-collapse" id="js-navbar-collapse">

            <div class="nav navbar-nav">
              <span><a ng-href="/profile">Admin Name</a></span>
              <span><a ng-click="showSettings()"><img src="images/gear.png"/></a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="left-panel">
        <ul>
          <li>NAVIGATE</li>
          <li><a ng-href="/analitycs"><img src="images/analitycs.png"/> analitycs</a></li>
          <li><a href=""><img src="images/news.png"/> News</a></li>
          <li><a href=""><img src="images/board-brief.png"/> Board Brief</a></li>
          <li><a href=""><img src="images/briefcase.png"/> Briefcase</a></li>
          <li><a href=""><img src="images/angle-double-left.png"/> Close Menu</a></li>
        </ul>
    </div> 
    <div class="container"> 
      <div ng-view=""></div>
    </div>
</body>
</html>
